services:
  pihole-unbound:
    container_name: pihole-unbound
    build:
      context: ./src
    environment:
      PIHOLE_UID: ${HOST_UID}
      PIHOLE_GID: ${HOST_GID}
      TZ: ${TZ}
      FTLCONF_dns_listeningMode: "all"
      FTLCONF_dns_upstreams: 127.0.0.1#5335
    volumes:
      - ./config/pihole:/etc/pihole
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 80:80/tcp
      - 443:443/tcp
    cap_add:
      - NET_ADMIN
      - NET_BIND_SERVICE
      - SYS_NICE
    healthcheck:
      test: [ "CMD", "dig", "@127.0.0.1", "-p", "53", "pi.hole" ]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
